.recruit-ease {
  position: absolute;
  top: 53px;
  left: 70px;
  line-height: 46.99px;
  display: inline-block;
  width: 195px;
  height: 40.35px;
}
.bg-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 900px;
}
.login-to-your {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.login-to-your-account-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--heading-size);
}
.email {
  flex: 1;
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.email-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.context {
  flex: 1;
  position: relative;
  line-height: 100%;
}
.frame-group,
.input-text,
.input-text-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input-text {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 3px solid var(--primary-weak);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  gap: var(--gap-8xs);
}
.frame-group,
.input-text-wrapper {
  align-items: flex-start;
}
.input-text-wrapper {
  height: 48px;
  flex-direction: row;
  font-size: var(--body-medium-regular-size);
}
.frame-group {
  flex-direction: column;
  gap: var(--gap-xs);
}
.forgot {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--primary);
  text-align: right;
}
.iconeye {
  position: relative;
  width: 24px;
  height: 24px;
}
.iconeye-wrapper,
.input-text1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.input-text1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--text-tertiary);
  padding: var(--padding-xs) var(--padding-base);
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.input-text-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-medium-regular-size);
  color: var(--text-tertiary);
}
.buttons,
.frame-parent,
.input-text-container {
  align-self: stretch;
  display: flex;
}
.frame-parent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--text-secondary);
}
.buttons {
  border-radius: var(--br-5xs);
  background-color: var(--primary);
  height: 52px;
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.dont-have-an,
.sign-up {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.sign-up {
  color: var(--primary);
  cursor: pointer;
}
.dont-have-an-account-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  color: var(--text-tertiary);
}
.buttons-parent,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--white);
}
.login {
  position: absolute;
  top: 222px;
  left: 450px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 540px;
  padding: 48px 72px;
  box-sizing: border-box;
  justify-content: center;
  gap: 32px;
  cursor: pointer;
  text-align: left;
  font-size: var(--body-large-regular-size);
  color: var(--text-primary);
  font-family: var(--body-large-regular);
}
.log-in {
  position: relative;
  background-color: #050a24;
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: 34.18px;
  color: var(--white);
  font-family: var(--font-outfit);
}
